@font-face {
  font-family: 'SubwaySansLCGRegulars';
  src: url(SubwaySansLCGRegular.otf);
}

@font-face {
  font-family: 'SubwaySansLCGMedium';
  src: url(SubwaySansLCGMedium.otf);
}

@font-face {
  font-family: 'SubwaySansLCGBold';
  src: url(SubwaySansLCGBold.otf);
}

.testWrapper {
  width: 960px;
  height: 1080px;
  float: left;
  background-image: url(photo1.jpg);
  background-color: #fc000000;
  position: static;
}

.arrow{
  height: 5%;
  background-color: rgba(255, 0, 0, 0);
  margin-top: 125px;
  margin-left: 55px;

}

.UpperText {
  color: rgb(9, 76, 38);
  background-color: #00fa0c00;
  height: 690px;
  width: 470px;
  margin-left: 43px;
  margin-top: 100px;
  list-style-type: ' ';
  font-size: 36px;
  font-family: 'SubwaySansLCGRegulars';
  line-height: 52px;
  white-space: nowrap;
}

.LowerText {
  color: rgb(9,76,38);
  font-family: 'SubwaySansLCGRegulars';
  background-color: #fa000000;
  height: 690px;
  width: 250px;
  margin-left: 327px;
  margin-top: -684px;
  font-size: 16px;
  line-height: 52px;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  text-align: right;
  list-style-type: ' '

}
 
.Price15 {
  color: rgb(9,76,38);
  background-color: #fa000000;
  height: 690px;
  width: 90px;
  margin-left: 575px;
  margin-top: -695px;
  font-family: 'SubwaySansLCGMedium';
  list-style-type: ' ';
  font-size: 36px;
  line-height: 52px;
  white-space: nowrap;
}

.PriceCombo {
  color: rgb(20,137,69);
  background-color: #fa000000;
  height: 690px;
  width: 80px;
  margin-left: 687px;
  margin-top: -690px;
  font-family: 'SubwaySansLCGBold';
  list-style-type: ' ';
  font-size: 36px;
  line-height: 52px;
  white-space: nowrap;
}

.Price30 {
  color: rgb(9,76,38);
  background-color: #fa000000;
  height: 690px;
  width: 90px;
  margin-left: 788px;
  margin-top: -690px;
  font-family: 'SubwaySansLCGMedium';
  list-style-type: ' ';
  font-size: 36px;
  line-height: 52px;
  white-space: nowrap;
}


