.testWrapper {
  width: 960px;
  height: 1080px;
  float: left;
  background-image: url(photo1.jpg);
  background-color: #fc000000;
  position: static;
}

.UpperText {
  color: #097637;
  background-color: #fa000000;
  height: 690px;
  width: 470px;
  margin-left: 50px;
  margin-top: 258px;
  list-style: none;
  font-size: 30px;
  line-height: 45px;
}

.Price {
  color: #097637;
  background-color: #fa00004b;
  height: 690px;
  width: 150px;
  margin-left: 550px;
  margin-top: 258px;
  list-style: none;
  font-size: 30px;
  line-height: 45px;


}

aside {
  float: left;
  margin-left: 30px;
  margin-top: -800px;
  background: #00000000;
  width: 40%;
  color: #00922565;
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  
}

aside ul {
  list-style: none;

}
